<h1>Add a New Manufacturer:</h1>

<%= form_for @manufacturer do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
    </br>
  <%= f.label :country, "Country" %>
  <%= f.text_field :country %>
    </br>
  <%= f.submit "Create Manufacturer" %>
<% end %>

<%= link_to 'Return to Manufacturers', manufacturers_path%>
